<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shopping_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.controller.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productController</display-name>
    <servlet-name>productController</servlet-name>
    <servlet-class>com.controller.productController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productController</servlet-name>
    <url-pattern>/productController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartController</display-name>
    <servlet-name>cartController</servlet-name>
    <servlet-class>com.controller.cartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartController</servlet-name>
    <url-pattern>/cartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerController</display-name>
    <servlet-name>customerController</servlet-name>
    <servlet-class>com.controller.customerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerController</servlet-name>
    <url-pattern>/customerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>billController</display-name>
    <servlet-name>billController</servlet-name>
    <servlet-class>com.controller.billController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billController</servlet-name>
    <url-pattern>/billController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayController</display-name>
    <servlet-name>displayController</servlet-name>
    <servlet-class>com.controller.displayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayController</servlet-name>
    <url-pattern>/displayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>historyController</display-name>
    <servlet-name>historyController</servlet-name>
    <servlet-class>com.controller.historyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historyController</servlet-name>
    <url-pattern>/historyController</url-pattern>
  </servlet-mapping>
</web-app>